//here we will put all the low level scss to be imported in the other files
@import url("http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900");

/* Selects all elements */
/*and also the after and before Sudo elements*/
*,
*::after,
**::before {
  /*by default the browser apply a certain margin and padding to the elements so we remove it*/
  margin: 0;
  padding: 0;
  box-sizing: inherit; /*this keywoard we use it to force the inheritance, because the box-sizing by itself is not inheritable*/
}

/*the "root font size" is in the html selector*/
html {
  /*font-size: 10px;*/ /*in this case 1rem is exactly 10px and it is pretty used practice to give 10px to the root font size to have easier calculation for rem*/

  /*it is actually a bad practice to give a fixed pixel value to the root font size, because we are overwriting the user default settins. It is better to use in percentage and since we still want 10px and the absolute default px is 16 (if the user haven't change it) so we need to give:*/
  font-size: 62.5%; //this is not typography , because it is just a setting of the size of the elements in the page --> this define what 1rem is
}

/*in this case we no longer use the universal selector but body, all the property will be inherithed by its child*/
body {
  box-sizing: border-box; /* the boarders and the padding are not longer added to the total height or weidht of the element*/
  /*if we set box-sizing to border box if will equivalent to calculate height and width oncluding the content dimension + the padding*/
}
