//you could argue that this shall be put inside the components folder and nothing is wrong with this idea, but seems it include mostly typography staff (text, font size, ecc) it is more intuitive to find it inside here

.heading_primary {
  color: $color-secondary;
  text-transform: uppercase;
  backface-visibility: hidden; /*this property is just to remove the shaking unwanted effect from this heading element when the titles are animating*/

  &--main {
    display: block; /*the default configuration is to be displayed as a text element, so without this configuration they would be one after the other and they would not occupy 100% of the width*/
    font-size: 3rem;
    font-weight: 700;
    letter-spacing: 3.5rem;

    /*these below are the least animation properties that are required to work*/
    animation-name: moveInLeft;
    animation-duration: 1s;

    /*these are some additionals property that we can use*/
    animation-timing-function: ease-out; /*more info at https://developer.mozilla.org/en-US/docs/Web/CSS/animation-timing-function*/
    /*
        animation-delay: 3s;
        animation-iteration-count: 3; /*in this case it will happen 3 times*/
  }

  &--sub {
    display: block;
    font-size: 2rem;
    font-weight: 400;
    letter-spacing: 1.5rem;

    /*
        animation-name: moveInRight;
        animation-duration: 1s;
        animation-timing-function: ease-out;
        */

    /*here above can be written quickly like this*/
    animation: moveInRight 1s ease-out;
  }
}

//we moved this part, and only this part of "body", to typography because it included these kind of elements
body {
  /*here it means we select Lato font family and if not available we select sans-serif*/
  font-family: "Lato", sans-serif;
  font-weight: 400;
  /*font-size: 16px;*/
  line-height: 1.7; /*means that the line height is 1.7 bigger than the predefinied line height*/
  color: #777;
  padding: 3rem; /*with this padding it will give the nice white margin on all the webpage*/
}
