//this class will very simply center the element in which is wrap around
//it is a very simple utility class
.u-center-text {
  text-align: center;
}

.u-center-botton {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.u-center-botton2 {
  text-align: center;
  margin: 0 auto;
}

.u-margin-bottom-big {
  margin-bottom: 8rem;
}

.u-margin-bottom-medium {
  margin-bottom: 4rem;
}

.u-margin-bottom-small {
  margin-bottom: 1.5rem;
}

.u-margin-top-big {
  margin-bottom: 8rem;
}

.u-margin-top-medium {
  margin-bottom: 4rem;
}

.u-margin-top-small {
  margin-bottom: 1.5rem;
}
