.section-about {
  background-color: $color-grey-light-1;
  padding: 25rem 0 45rem; //in this case top and bottom are not the same
  margin-top: -20vh; //we gave a negative margin so that the entire section move up and it covers the white space leave behind by the previous section which has the the bottom right corner cut off.

  @include respond(tab-port) {
    padding: 20rem 0;
  }
}

.section-features {
  padding: 20rem 0;
  background-image: linear-gradient(
      to left top,
      rgba($color-primary, 0.8),
      rgba($color-secondary, 0.8)
    ),
    url("../../assets/img/background_block2.jpg");
  background-size: cover;
  background-position: top;

  margin-top: -10rem; //in order to cover the white spaces left behind as done for the about section
  transform: skewY(
    -7deg
  ); //instead of using clip-path like we did in the header we use this

  //this way below we select every DIRECT child and we skew back to 7 deg positive
  //take a close look to ">" without this it will select all the chilid but we just want the DIRECT child
  & > * {
    transform: skewY(7deg);
  }

  @include respond(tab-port) {
    padding: 10rem 0;
  }
}

.section-price {
  background-color: $color-grey-light-1;
  padding: 25rem 0 20rem 0;
  margin-top: -10rem;

  @include respond(tab-port) {
    padding: 15rem 0 15rem 0;
  }
}

.section-testimonials {
  padding: 15rem 0;
  background-size: cover;
  background-position: top;

  transform: skewY(
    -7deg
  ); //instead of using clip-path like we did in the header we use this

  //this way below we select every DIRECT child and we skew back to 7 deg positive
  //take a close look to ">" without this it will select all the chilid but we just want the DIRECT child
  & > * {
    transform: skewY(7deg);
  }

  position: relative;

  @include respond(tab-port) {
    padding: 10rem 0;
  }
}

.section-contact-us {
  padding: 15rem 0;
  background-image: linear-gradient(
    to left top,
    rgba($color-primary, 0.8),
    rgba($color-secondary, 0.8)
  );

  @include respond(tab-port) {
    padding: 10rem 0;
  }
}
