.header {
  height: 95vh; /*vh is viewport height, 1vh for example is equal to 1% of the viewport height*/
  background-image: linear-gradient(
      to left top,
      rgba(226, 225, 225, 0.8),
      rgba(61, 57, 53, 0.8)
    ),
    url("/src/assets/img/background_block.jpg"); /*in this situation we have two background images on top of each other, the first one is the linear gradient the second one is the image*/
  background-size: cover;
  background-position: top; /*it ensure that the top of the image always stays at the top of the container*/
  clip-path: polygon(
    0 0,
    100% 0,
    100% 85%,
    0 100%
  ); /*this gives the cut out effect on the back ground image*/

  position: relative;
}

.logo_box {
  /*a good way to position the logo box  is to use absolute positioning */
  position: absolute;
  top: 40px;
  left: 40px;
}

.logo {
  height: 55px;
}

.heading_primary {
  color: #3d3935;
  text-transform: uppercase;
}

.heading_primary_main {
  display: block; /*the default configuration is to be displayed as a text element, so without this configuration they would be one after the other and they would not occupy 100% of the width*/
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 35px;
}

.heading_primary_sub {
  display: block;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 15px;
}

.text_box {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  /*to make it clear, "top" and "left" are in relation to the parent element. but when we translate it, it is in relation to the element itself and this make possible that the element is exactly at the center*/
}
