.header {
  height: 95vh; /*vh is viewport height, 1vh for example is equal to 1% of the viewport height*/
  background-image: linear-gradient(
      to left top,
      rgba(226, 225, 225, 0.8),
      rgba(61, 57, 53, 0.8)
    ),
    url("/src/assets/img/background_block.jpg"); /*in this situation we have two background images on top of each other, the first one is the linear gradient the second one is the image*/
  background-size: cover;
  background-position: top; /*it ensure that the top of the image always stays at the top of the container*/
  clip-path: polygon(
    0 0,
    100% 0,
    100% 85%,
    0 100%
  ); /*this gives the cut out effect on the back ground image*/

  position: relative;
  /*
  when using "position" in CSS we have to consider:
  RELATIVE -> The element is positioned according to the normal flow of the document, and then offset relative to itself based on the values of top, right, bottom, and left.
  ABSOLUTE -> The element is removed from the normal document flow, and no space is created for the element in the page layout. It is positioned relative to its closest positioned ancestor, if any;
  */
}

.logo_box {
  /*a good way to position the logo box  is to use absolute positioning */
  position: absolute;
  top: 40px;
  left: 40px;
}

.logo {
  height: 60px;
}

.button_box {
  position: absolute;
  top: 40px;
  right: 150px;
}

/*A CSS pseudo-class is a keyword added to a selector that specifies a special state of the selected element(s). For example, the pseudo-class :hover can be used to select a button when a user's pointer hovers over the button and this selected button can then be styled.*/
/*:
link -> Matches links that have not yet been visited.
visited -> Matches links that have been visited.
*/
/*we want to the "visited" state to looks exactly like the "link" state*/
.btn:link,
.btn:visited {
  position: absolute; /**/
  text-transform: uppercase;
  text-decoration: none;
  padding: 15px 10px; /*if we apply only 1 value it will apply for all, if we apply two instead it will cover top and lateral*/
  display: inline-block; /*If we want to apply padding we need the inline-block property, The display CSS property sets whether an element is treated as a block or inline element and the layout used for its children, such as flow layout, grid or flex.*/
  border-radius: 100px;
  /*transition is another kind of animation, which is the more complex one usually*/
  /*and the transition property has to be in the initial state*/
  transition: all 0.2s; /*all the properties are enabled to be animated*/
}

.btn:hover {
  transform: translateY(-3px); /*we move up a bit*/
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); /*the shadow will be 10px down and 20px blur*/
}

/*this is when we click the state*/
.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btn_white {
  background-color: #fff;
  color: #777;
}

.heading_primary {
  color: #3d3935;
  text-transform: uppercase;
  backface-visibility: hidden; /*this property is just to remove the shaking unwanted effect from this heading element when the titles are animating*/
}

.heading_primary_main {
  display: block; /*the default configuration is to be displayed as a text element, so without this configuration they would be one after the other and they would not occupy 100% of the width*/
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 35px;

  /*these below are the least animation properties that are required to work*/
  animation-name: moveInLeft;
  animation-duration: 1s;

  /*these are some additionals property that we can use*/
  animation-timing-function: ease-out; /*more info at https://developer.mozilla.org/en-US/docs/Web/CSS/animation-timing-function*/
  /*
  animation-delay: 3s;
  animation-iteration-count: 3; /*in this case it will happen 3 times*/
}

.heading_primary_sub {
  display: block;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 15px;

  /*
  animation-name: moveInRight;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  */

  /*here above can be written quickly like this*/
  animation: moveInRight 1s ease-out;
}

.text_box {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  /*to make it clear, "top" and "left" are in relation to the parent element. but when we translate it, it is in relation to the element itself and this make possible that the element is exactly at the center*/
}

/*here we create the animation that we want to display*/
/*for browser performances is better to only animate 2 properties, 1 is opacity and the other 1 would be the transform property*/
@keyframes moveInLeft {
  /*here is where the animation start*/
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }

  80% {
    opacity: 0.8;
    transform: translateX(10px);
  }
  /*here is where the animation finish*/
  100% {
    opacity: 1;
    transform: translate(
      0
    ); /*if we translate 0, it will look the way that it just looks now*/
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }

  80% {
    opacity: 0.8;
    transform: translateX(-10px);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes increaseButtom {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  50% {
    opacity: 1;
    transform: scale(2);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}
