.card {
  //to give a better animation when moving the card we use the perspective property on the parent element in this case on the card
  //this will give an effect as if the card is moving towards you
  //does not make sense but it works!
  perspective: 150rem;
  -moz-perspective: 150rem; //in order to implement it also on firefox browser, because it is a new property and it is not implemented in all browsers

  position: relative;
  height: 45rem; //I don't know why but we have to give the same height as the child

  &__side {
    height: 45rem;

    border-radius: 3px;
    overflow: hidden; //this setting is necessary because the image of card__picture overflow the parent in the top left and right corners
    box-shadow: (0 1.5rem 4rem rgba(black, 0.15));

    transition: all 0.8s ease; //"ease" instead of "linear" animation
    position: absolute; //we need to use absolute position in order to have the two sides of the card one on the top of the other, remember when using this you need to give the parent a relative position
    width: 100%; //when you give them an absolute position they start to squie to their child width so we have to set the width
    top: 0;
    left: 0;
    backface-visibility: hidden; //so that we will no longer be able to see the backpart of the elements

    &--front {
      background-color: $color-white;
      z-index: 10; //by default it will be on top
    }

    &--back {
      transform: rotateY(
        180deg
      ); //the back side is already flipped at the beginning

      &-1 {
        background-image: linear-gradient(
          to right bottom,
          $color-vibrant-pinkish-red,
          darken($color-vibrant-pinkish-red, 30%)
        );
      }

      &-2 {
        background-image: linear-gradient(
          to right bottom,
          $color-bright-turquoise,
          darken($color-bright-turquoise, 30%)
        );
      }

      &-3 {
        background-image: linear-gradient(
          to right bottom,
          $color-warm-orange,
          darken($color-warm-orange, 30%)
        );
      }
    }
  }

  //this means when we hover the card (the main component) we want the card__side to transform
  &:hover &__side--front {
    transform: rotateY(-180deg);
  }

  &:hover &__side--back {
    transform: rotateY(0);
    z-index: 20;
  }

  //FRONT SIDE STYLING

  &__picture {
    background-size: cover;
    height: 25rem;
    background-blend-mode: screen; //this is a modern feature in CSS an it might not work in the old browsers
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    clip-path: polygon(
      0 0,
      100% 0,
      100% 85%,
      0 100%
    ); //also this is a modern feature and so we have to prefix it with above line of code

    &--1 {
      background-image: linear-gradient(
          to left top,
          $color-vibrant-pinkish-red,
          darken($color-vibrant-pinkish-red, 30%)
        ),
        url("../../assets/img/block-grey.jpg");
    }

    &--2 {
      background-image: linear-gradient(
          to left top,
          $color-bright-turquoise,
          darken($color-bright-turquoise, 30%)
        ),
        url("../../assets/img/block-grey.jpg");
    }

    &--3 {
      background-image: linear-gradient(
          to left top,
          $color-warm-orange,
          darken($color-warm-orange, 30%)
        ),
        url("../../assets/img/block-grey.jpg");
    }
  }

  &__heading {
    font-size: 2.8rem;
    font-weight: 300;
    text-transform: uppercase;
    color: $color-white;
    position: absolute; //we use once again absolute positioning because we want it to be on top of the image
    top: 12rem;
    right: 2rem;
    text-align: right;
    width: 75%;
  }

  //we added here because this is not a child, it is a new element
  &__heading-span {
    padding: 1rem 1.5rem;
    box-decoration-break: clone; //without this the padding will not apply on each word but rather on the complete sentence
    -webkitbox-decoration-break: clone;
    &--1 {
      background-image: linear-gradient(
        to right bottom,
        rgba($color-vibrant-pinkish-red, 0.85),
        darken(rgba($color-vibrant-pinkish-red, 0.85), 30%)
      );
    }

    &--2 {
      background-image: linear-gradient(
        to right bottom,
        rgba($color-bright-turquoise, 0.85),
        darken(rgba($color-bright-turquoise, 0.85), 30%)
      );
    }

    &--3 {
      background-image: linear-gradient(
        to right bottom,
        rgba($color-warm-orange, 0.85),
        darken(rgba($color-warm-orange, 0.85), 30%)
      );
    }
  }

  &__details {
    padding: 3rem;
    ul {
      list-style: none;
      width: 80%;
      margin: 0 auto; //this is the simplest way of centring a block element inside another block element. so in this case to center "ul" inside "card__details" (without using position absolute)
      padding-inline-start: 0rem; //I had to remove it because it is 40 by default
      li {
        text-align: center;
        font-size: 1.5rem;
        padding: 1rem;
        &:not(:last-child) {
          border-bottom: 1px solid $color-grey;
        }
      }
    }
  }

  //BACK SIDE STYLING
  &__cta {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(
      -50%,
      -50%
    ); //to center it (it is extactly the same thing that we did in the header)
    width: 90%; //otherwise the button will not show entirely the text
    text-align: center; //so that also the button is centered
    //TODO: vedere per quale motivo non si centra il pulsante
  }

  &__price-box {
    margin-bottom: 0.8rem;
    color: $color-white;
  }

  &__price-only {
    font-size: 1.5rem;
    text-transform: uppercase;
  }

  &__price-value {
    font-size: 6rem;
    font-weight: 100; //when we have huge text is better to make it thin
  }
}
