.testimonial {
  width: 75%;
  margin: 0 auto;
  box-shadow: 0 3rem 6rem rgba(black, 0.1);
  background-color: rgba($color-white, 0.6);
  border-radius: 3px;
  padding: 3rem;
  font-size: 1.6rem;

  //to give the parallelepipedo shape
  transform: skewX(-12deg);

  @include respond(tab-port) {
    width: 100%;
    padding: 4rem;
    padding-left: 7rem;
  }

  @include respond(phone) {
    transform: skewX(0); //we want to get rid of that shape
  }

  & > * {
    transform: skewX(12deg); //to skew back
    //TODO: verifico questo nella lezione 42 min 18'/19' perche' aveva spiegato come getire il contrasto quando ci sono due transform properties

    @include respond(phone) {
      transform: skewX(0); //we want to get rid of that shape
    }
  }

  &__shape {
    width: 15rem;
    height: 15rem;
    float: left; //let it sit on the left side

    //and in order to make all the content wrap around a circle on the right side we can define below property (shape-outside)
    //this property requires that the element is floated and has defined width and height
    -webkit-shape-outside: circle(50% at 50% 50%); //in order to work in safari
    shape-outside: circle(50% at 50% 50%);

    //now we give the __shape and actual circle figure
    -webkit-clip-path: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    position: relative; //because we put the __caption to position absolute
  }

  &__img {
    height: 100%; //in this case it will be 15rem height because it is inside __shape and so it has 15rem avialable space if it is set to 100%
    transition: all 0.4s;

    //transform: translateX(-4rem);
    //this it done just to show that if needed the image can be moved as well inside the box
  }

  &__text {
  }

  &__caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(
      -50%,
      20%
    ); //we put 20% on the Y coordinate becaues it will be center when we hover it
    color: $color-white;
    text-transform: uppercase;
    text-align: center;
    size: 1.6rem;
    opacity: 0; //initial state is that is not visible
    transition: all 0.2s; //we animate it
    backface-visibility: hidden; //it is just for hiding the small movement when the transition is completed
  }

  //below means: "has soon as the testimonial is hover than we want to change the caption"
  &:hover &__caption {
    transform: translate(-50%, -50%);
    opacity: 1;
  }

  &:hover &__img {
    transform: scale(0.7);
    filter: blur(3px) brightness(0.8); //inside here there are a lot of different options that you can use;
  }
}
