.navigation {
  &__checkbox {
    display: none; //no need to see it
  }

  &__button {
    //this shall cover the navigation__background
    background-color: $color-white;
    height: 7rem;
    width: 7rem;
    border-radius: 50%;
    position: fixed;
    top: 6rem;
    right: 6rem;
    z-index: 2000;
    box-shadow: 0 1rem 3rem rgba(black, 0.1);
    text-align: center;
    cursor: pointer;
  }

  &__background {
    //it is actually an expanding circle from the bottom to the left bottom corner
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
    position: fixed; //this is very similar to position absolute, with the difference that with fix it does not change position as we scroll the page
    top: 6.5rem;
    right: 6.5rem;
    background-image: radial-gradient($color-secondary, $color-primary);
    z-index: 1000; //we give a high one so that it does not get hidded while we scroll on the page
    transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1); //The cubic-bezier() function defines a Cubic Bezier curve can be used with the animation-timing-function property and the transition-timing-function property.
  }

  &__nav {
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1500;

    opacity: 0; //with this alone you will not see but there are actually still there, so you need to set also the width to 0;
    width: 0;
    transition: all 0.8s cubic-bezier(0.86, 0, 0.07, 1);
  }

  &__list {
    @include centered;
    list-style: none;
    text-align: center;
  }

  &__item {
    margin: 1rem;
  }

  &__link {
    &:link,
    &:visited {
      display: inline-block;
      font-size: 3rem;
      font-weight: 300;
      padding: 1rem 2rem;
      color: $color-white;
      text-decoration: none;
      text-transform: uppercase;
      background-image: linear-gradient(
        120deg,
        transparent 0%,
        transparent 50%,
        $color-white 50%
      );
      background-size: 250%; //the higher the number the more the white part of the background will move to the right
      transition: all 0.2s;

      span {
        margin-right: 1.5rem;
        display: inline-block;
      }
    }

    &:hover,
    &:active {
      background-position: 100%;
      color: $color-secondary;
      transform: translateX(1rem);
    }
  }

  //FUNCTIONALITY
  &__checkbox:checked ~ &__background {
    transform: scale(80);
  }

  &__checkbox:checked ~ &__nav {
    opacity: 1;
    width: 100%;
  }

  //ICON
  &__icon {
    position: relative;
    margin-top: 3.5rem;

    &,
    &::before,
    &::after {
      width: 3rem;
      height: 2px; //we use pixel because we don't want it to change
      background-color: black;
      display: inline-block;
      transition: all 0.2s;
    }

    &::before,
    &::after {
      content: "";
      position: absolute;
      left: 0;
    }

    &::before {
      top: -0.8rem;
    }

    &::after {
      top: 0.8rem;
    }
  }

  &__button:hover &__icon::before {
    top: -1rem;
  }

  &__button:hover &__icon::after {
    top: 1rem;
  }

  &__checkbox:checked + &__button &__icon {
    background-color: transparent; //we just want to not make it visible but not to change the before and after sudo element
  }

  &__checkbox:checked + &__button &__icon::before {
    top: 0;
    transform: rotate(45deg);
  }

  &__checkbox:checked + &__button &__icon::after {
    top: 0;
    transform: rotate(-45deg);
  }
}
